.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.2px;
}

img {
  display: block;
  max-width: 100%;
}

.project__head {
  width: 400px;
  margin: 0px auto;
  padding-bottom: 100px;
  color: #fff;
  text-align: center;
}

.paragraph-4 {
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;
  color: hsla(0, 0%, 100%, 0.6);
}

.heading-6 {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px;
  color: #fff;
}

.div-block-2 {
  display: block;
  width: 100%;
  height: auto;
  margin-right: 0px;
  padding: 35px 60px;
  border-radius: 20px;
  background-color: #141f29;
  color: #141f29;
}

.project-card {
  display: -ms-grid;
  display: grid;
  padding-top: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-items: end;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.service-card-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 20px;
  text-align: center;
}

.services__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 0px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-top: 1px none #fff;
  border-left: 1px none #fff;
  border-radius: 10px;
  background-color: rgba(20, 31, 41, 0.94);
  box-shadow: 6px 6px 20px -5px #000;
  color: #fff;
  text-decoration: none;
}

.services__card:hover {
  border-style: none;
  border-width: 1px;
  border-color: #39b44b;
  background-color: #192531;
  color: #39b44b;
}

.services__card:active {
  border-right-color: #1b2b3a;
  box-shadow: inset 6px 6px 16px -3px #000;
}

.text-field {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.text-field-2 {
  width: 90%;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.contact__form {
  display: block;
  text-align: left;
}

.textarea {
  min-height: 100px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 12px;
  border-radius: 10px;
  background-color: #fff;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  background-color: transparent;
}

.contact__form__container {
  display: block;
  width: 65%;
  margin: 30px auto 0px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
  background-color: #141f29;
  opacity: 1;
}

.field-label {
  margin-top: 0px;
  margin-bottom: 5px;
}

.contact {
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(27, 43, 58, 0.71);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 37, 49, 0.73)), to(rgba(25, 37, 49, 0.73))), url('../images/8586E57A-2AFE-4633-9A3A-B39784AB0725-1.jpg');
  background-image: linear-gradient(180deg, rgba(25, 37, 49, 0.73), rgba(25, 37, 49, 0.73)), url('../images/8586E57A-2AFE-4633-9A3A-B39784AB0725-1.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.contact__container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 20px;
  background-color: transparent;
}

.name {
  width: 85%;
  background-color: transparent;
}

.email {
  width: 80%;
  background-color: transparent;
}

.project__mask {
  display: block;
  overflow: visible;
  width: 250px;
  height: 250px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px none #000;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 43, 58, 0.29)), to(rgba(27, 43, 58, 0.29))), url('../images/Mob-button.png');
  background-image: linear-gradient(180deg, rgba(27, 43, 58, 0.29), rgba(27, 43, 58, 0.29)), url('../images/Mob-button.png');
  background-position: 0px 0px, 0% 50%;
  background-size: auto, cover;
  box-shadow: 1px 1px 3px 0 #000;
  text-decoration: none;
  cursor: crosshair;
}

.project__mask:hover {
  background-image: url('../images/Mob-button.png');
  background-position: 0% 50%;
  background-size: cover;
}

.project__mask:active {
  box-shadow: inset 1px 1px 3px 0 #000;
}

.project__mask.muzeo {
  background-image: url('../images/pexels-stephen-hardy-7061817.jpg'), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: url('../images/pexels-stephen-hardy-7061817.jpg'), linear-gradient(180deg, transparent, transparent);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.footer__social {
  display: none;
  width: 185px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer {
  position: static;
  background-color: #141f29;
}

.footer__link {
  margin-right: 0px;
  margin-left: 0px;
  color: #fff;
  text-decoration: none;
}

.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.hero__content {
  display: block;
  width: 70%;
  margin: 150px auto 100px 0px;
  padding: 60px;
  border-radius: 10px;
  background-color: transparent;
  opacity: 1;
  color: #fff;
  text-align: center;
}

.btn {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #39b44b;
  color: #000;
  font-weight: 400;
  text-align: center;
}

.btn.right {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 10px;
}

.btn.prices {
  margin-top: 25px;
}

.btn.thanks {
  margin-top: 10px;
}

.hero__head {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #fff;
  text-align: left;
}

.hero__head.about {
  padding-bottom: 0px;
  background-color: transparent;
  text-align: center;
}

.hero {
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  padding-top: 0px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 43, 58, 0.79)), to(rgba(27, 43, 58, 0.79))), url('../images/8586E57A-2AFE-4633-9A3A-B39784AB0725-1.jpg');
  background-image: linear-gradient(180deg, rgba(27, 43, 58, 0.79), rgba(27, 43, 58, 0.79)), url('../images/8586E57A-2AFE-4633-9A3A-B39784AB0725-1.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.hero.about {
  background-color: #1b2b3a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 43, 58, 0.88)), to(rgba(27, 43, 58, 0.88))), url('../images/8586E57A-2AFE-4633-9A3A-B39784AB0725-1.jpg');
  background-image: linear-gradient(180deg, rgba(27, 43, 58, 0.88), rgba(27, 43, 58, 0.88)), url('../images/8586E57A-2AFE-4633-9A3A-B39784AB0725-1.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.hero__body {
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  opacity: 1;
  color: #fff;
  font-size: 16px;
  text-align: left;
  letter-spacing: 1.2px;
}

.hero__body.about {
  width: 800px;
  background-color: transparent;
  text-align: center;
}

.hero__btn__contain {
  display: block;
  text-align: left;
}

.hero__container {
  position: static;
  top: 79px;
  display: block;
  border-radius: 20px;
  background-color: transparent;
}

.hero__container.about {
  padding-top: 200px;
  background-color: transparent;
}

.contact__head {
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 38px;
  text-align: center;
}

.body-2 {
  background-color: #1b2b3a;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.heading-14 {
  display: block;
  margin: 0px auto;
  padding-bottom: 0px;
  font-size: 32px;
  text-align: center;
}

.about__text {
  width: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-right: 0px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 1.2px;
  text-indent: 39px;
}

.container-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-25 {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.centered-container-4 {
  padding-top: 200px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.project-heading {
  margin-top: 0px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.project__card {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.project__container {
  display: block;
  height: auto;
  margin-bottom: 0px;
}

.project-info {
  position: static;
  display: block;
  width: 250px;
  height: 250px;
  margin-right: auto;
  margin-left: auto;
  padding: 33px 20px 20px;
  border-radius: 11px;
  background-color: rgba(57, 180, 75, 0.57);
  text-decoration: none;
}

.project-info.muzeo {
  display: block;
  padding-top: 54px;
  background-color: rgba(57, 180, 75, 0.57);
}

.project-summary {
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.project__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-grid-columns: 0.25fr 0.25fr;
  grid-template-columns: 0.25fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.project {
  display: none;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #192531;
}

.about__content {
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.services__grid {
  display: -ms-grid;
  display: grid;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.25fr 0.25fr;
  grid-template-columns: 0.25fr 0.25fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  text-decoration: none;
}

.services {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #1b2b3a;
  color: #415244;
}

.services__head {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #fff;
  text-align: center;
}

.link-block {
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
}

.services_link {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
}

.link-block-3 {
  text-decoration: none;
}

.link-block-4 {
  text-decoration: none;
}

.link-block-5 {
  text-decoration: none;
}

.bold-text {
  text-decoration: none;
}

.bold-text-2 {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-decoration: none;
}

.container-12 {
  display: -ms-grid;
  display: grid;
  padding-top: 60px;
  padding-bottom: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 44px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.about {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #1b2b3a;
}

.about.main {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #192531;
}

.image-17 {
  margin: 40px auto 0px;
  padding-bottom: 0px;
  border-radius: 10px;
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.paragraph-15 {
  margin-bottom: 0px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 1.5px;
  text-indent: 40px;
}

.about__title {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.about__title.lower {
  margin-top: 30px;
}

.bold-text-4 {
  text-decoration: none;
}

.image-18 {
  width: 250px;
  margin: 0px auto 20px;
  padding-top: 0px;
  border-radius: 10px;
}

.about-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 780px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 43, 58, 0.71)), to(rgba(27, 43, 58, 0.71))), url('../images/8586E57A-2AFE-4633-9A3A-B39784AB0725-1.jpg');
  background-image: linear-gradient(180deg, rgba(27, 43, 58, 0.71), rgba(27, 43, 58, 0.71)), url('../images/8586E57A-2AFE-4633-9A3A-B39784AB0725-1.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #fff;
}

.service__outline {
  width: auto;
  height: auto;
  margin: 0px auto;
  padding: 35px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.61);
  border-radius: 10px;
  background-color: rgba(27, 43, 58, 0.71);
  opacity: 1;
}

.service__outline:hover {
  border-color: #fff;
  background-color: rgba(27, 43, 58, 0.71);
}

.service__heading {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}

.service__heading.editing {
  margin-bottom: 25px;
}

.paragraph-20 {
  width: 800px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 16px;
  text-align: center;
}

.bold-text-6 {
  width: 100%;
  font-size: 20px;
}

.paragraph-26 {
  text-align: center;
}

.image-19 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.nav {
  background-color: #141f29;
}

.nav__link {
  color: #fff;
}

.nav__link:hover {
  color: #39b44b;
}

.nav__link.w--current {
  color: #39b44b;
}

.nav_link {
  color: #fff;
}

.nav_link:hover {
  color: #39b44b;
}

.nav__toggle {
  padding-right: 20px;
}

.nav__list.w--open {
  right: -73.389px;
  padding-top: 5px;
  background-color: #141f29;
}

.service__ghost {
  width: auto;
  height: auto;
  margin: 0px auto;
  padding-top: 0px;
  border-radius: 10px;
  color: transparent;
  -o-object-fit: contain;
  object-fit: contain;
}

.body-3 {
  background-color: #1b2b3a;
}

.edit_container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.service__italic {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.special {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #1b2b3a;
}

.special__list {
  margin-bottom: 0px;
}

.discliamer__head {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}

.disclaimer {
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.disclaimer__container {
  margin-top: 0px;
}

.special__btn {
  margin-top: 20px;
  text-align: center;
}

.grid-2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.pricing-cards {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #1b2b3a;
}

.pricing-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(27, 43, 58, 0.71);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 43, 58, 0.71)), to(rgba(27, 43, 58, 0.71))), url('../images/8586E57A-2AFE-4633-9A3A-B39784AB0725-1.jpg');
  background-image: linear-gradient(180deg, rgba(27, 43, 58, 0.71), rgba(27, 43, 58, 0.71)), url('../images/8586E57A-2AFE-4633-9A3A-B39784AB0725-1.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto;
}

.pricing__card {
  display: block;
  width: auto;
  margin-top: 0px;
  padding: 30px;
  border-radius: 10px;
  background-color: #1b2b3a;
  text-align: left;
}

.special__heading {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}

.services__link {
  text-decoration: none;
}

.contact__succsess {
  background-color: #1b2b3a;
}

.contact__error {
  background-color: #ca4545;
}

.writing {
  margin-top: 60px;
  margin-bottom: 60px;
}

.service {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #1b2b3a;
}

.service.writing {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.service.proofread {
  padding-bottom: 60px;
}

.service__grid {
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.service__grid.editing {
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.service__grid.writing {
  margin-top: 0px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.service__card {
  padding: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.service__card.long {
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: none;
  text-align: center;
}

.service__head {
  margin-top: 0px;
  font-size: 32px;
  text-align: center;
}

.service__body {
  text-align: center;
}

.service__btn {
  margin-top: 25px;
  margin-bottom: 0px;
}

.service__btn.reading {
  margin-top: 25px;
  margin-bottom: 0px;
}

.service__btn.editing {
  margin-bottom: 25px;
}

.service__text {
  color: #000;
}

.service__text.proofreading {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  text-align: center;
}

.pricing__body {
  margin-bottom: 25px;
  text-align: center;
}

.pricing__head {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}

.button {
  border-radius: 10px;
  background-color: #39b44b;
  color: #141f29;
  text-align: center;
}

.div-block-42 {
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 0px;
  text-align: center;
}

.pricing__text {
  text-align: left;
}

.body-4 {
  background-color: #192531;
}

.pricing__cards {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.pricing__title {
  margin-top: 0px;
  text-align: left;
}

.pricing__container {
  margin-top: 0px;
}

.pricing {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.heading-44 {
  margin-top: 0px;
}

.heading-45 {
  margin-top: 0px;
}

.heading-46 {
  margin-top: 0px;
}

.heading-47 {
  margin-top: 0px;
}

.button-2 {
  text-align: center;
}

.about__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.call-to-action {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.pricing__link {
  color: #39b44b;
}

.body-5 {
  background-color: #141f29;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 31, 41, 0.68)), to(rgba(20, 31, 41, 0.68))), url('../images/B1BE5908-016D-43AD-A7B2-9EDC8795C2C7-1.jpg');
  background-image: linear-gradient(180deg, rgba(20, 31, 41, 0.68), rgba(20, 31, 41, 0.68)), url('../images/B1BE5908-016D-43AD-A7B2-9EDC8795C2C7-1.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.section {
  position: relative;
  left: 0px;
  top: 206px;
}

.div-block-43 {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .project__head {
    text-align: center;
  }

  .paragraph-4 {
    text-align: center;
  }

  .heading-6 {
    text-align: center;
  }

  .div-block-2 {
    padding-right: 30px;
    padding-left: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #141f29;
    color: #141f29;
  }

  .project-card {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: #1b2b3a;
  }

  .services__card {
    width: 450px;
    margin: 0px auto;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #192531;
    text-align: center;
  }

  .services__card:hover {
    border-style: none;
    background-color: #192531;
    box-shadow: 1px 1px 3px -1px #000;
  }

  .contact__form__container {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .contact__container {
    background-color: transparent;
  }

  .hero__content {
    position: static;
    width: 75%;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
  }

  .hero__head {
    text-align: center;
  }

  .hero {
    height: 100vh;
  }

  .hero__body {
    text-align: center;
  }

  .hero__body.about {
    width: 90%;
  }

  .hero__btn__contain {
    text-align: center;
  }

  .hero__container {
    position: static;
  }

  .hero__container.about {
    padding-top: 150px;
  }

  .contact__head {
    text-align: center;
  }

  .heading-14 {
    margin-bottom: 20px;
    text-align: center;
  }

  .about__text {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .about__content {
    margin-right: auto;
    margin-left: auto;
  }

  .services__grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: center;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 0.25fr 0.25fr;
    grid-template-columns: 0.25fr 0.25fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }

  .services {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .services__container {
    margin-right: auto;
    margin-left: auto;
  }

  .link-block-3 {
    margin-right: auto;
    margin-left: auto;
  }

  .link-block-4 {
    margin-right: auto;
    margin-left: auto;
  }

  .link-block-5 {
    margin-right: auto;
    margin-left: auto;
  }

  .image-18 {
    margin-bottom: 20px;
  }

  .paragraph-20 {
    width: 90%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .nav__menu {
    margin-top: 0px;
    background-color: #141f29;
    text-align: center;
  }

  .nav__link {
    text-align: center;
  }

  .nav_link {
    margin-right: auto;
    margin-left: auto;
  }

  .nav__toggle {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }

  .nav__menubtn {
    margin-top: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .nav__menubtn.w--open {
    background-color: transparent;
  }

  .nav__list {
    text-align: center;
  }

  .nav__list.w--open {
    background-color: #1b2b3a;
    color: #fff;
  }

  .service__text.proofreading {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .div-block-2 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .service-card-head {
    width: 200px;
  }

  .services__card {
    width: 450px;
  }

  .contact__form__container {
    width: 80%;
  }

  .footer {
    position: static;
  }

  .footer__menu {
    padding-bottom: 30px;
  }

  .hero__content {
    width: 80%;
    background-color: transparent;
  }

  .hero__body.about {
    padding-right: 25px;
    padding-left: 25px;
  }

  .hero__container {
    position: static;
  }

  .utility-page-wrap {
    background-color: #1b2b3a;
  }

  .heading-14 {
    margin-bottom: 0px;
    text-align: center;
  }

  .about__text {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .project__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .project {
    height: auto;
  }

  .about__content {
    margin-right: auto;
    margin-left: auto;
  }

  .grid {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .about-hero {
    padding: 40px 20px;
  }

  .disclaimer__container {
    padding: 30px;
  }

  .pricing-section {
    padding: 40px 20px;
  }

  .pricing__card {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .special__container {
    padding-right: 31px;
    padding-left: 31px;
  }

  .service__grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .service__grid.editing {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .service__grid.writing {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 25px;
    margin-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .pricing__body {
    padding-right: 25px;
    padding-left: 25px;
  }

  .pricing__cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .call-to-action {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .project__head {
    width: 300px;
    margin-bottom: 0px;
    text-align: center;
  }

  .paragraph-4 {
    width: auto;
    height: auto;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: center;
  }

  .heading-6 {
    display: block;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0px 0px 10px;
    text-align: center;
  }

  .div-block-2 {
    width: 100%;
    height: auto;
    padding: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #141f29;
  }

  .project-card {
    width: 80%;
    padding-top: 0px;
  }

  .service-card-head {
    width: 80%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    text-align: center;
  }

  .services__card {
    display: block;
    width: 300px;
    margin: 0px auto;
    padding: 35px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-field-2 {
    width: 100%;
  }

  .container-6 {
    display: block;
  }

  .contact__form__container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .contact__container {
    display: block;
    background-color: transparent;
  }

  .name {
    width: 100%;
  }

  .email {
    width: 100%;
  }

  .footer__social {
    padding-bottom: 0px;
  }

  .footer {
    position: static;
  }

  .footer__menu {
    width: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__container {
    padding-top: 0px;
  }

  .hero__content {
    display: block;
    width: 100%;
    margin: 89px auto 100px;
    padding: 35px 30px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    text-align: center;
  }

  .btn {
    display: block;
    width: 100px;
    height: 40px;
    min-width: 0px;
    margin: 0px auto 10px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }

  .btn.right {
    margin-right: auto;
    margin-left: auto;
  }

  .hero__head {
    display: block;
    overflow: visible;
    width: auto;
    margin-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 30px;
    text-align: center;
  }

  .hero {
    display: block;
    height: auto;
    margin-bottom: 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 43, 58, 0.71)), to(rgba(27, 43, 58, 0.71))), url('../images/8586E57A-2AFE-4633-9A3A-B39784AB0725-1.jpg');
    background-image: linear-gradient(180deg, rgba(27, 43, 58, 0.71), rgba(27, 43, 58, 0.71)), url('../images/8586E57A-2AFE-4633-9A3A-B39784AB0725-1.jpg');
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
    background-repeat: repeat, repeat;
    background-attachment: scroll, scroll;
  }

  .hero.about {
    height: auto;
  }

  .hero__body {
    display: block;
    width: auto;
    max-width: none;
    font-size: 14px;
    text-align: center;
  }

  .hero__body.about {
    width: 90%;
    margin-bottom: 0px;
  }

  .hero__btn__contain {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero__container {
    position: static;
    display: block;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .hero__container.about {
    padding-top: 100px;
    padding-bottom: 0px;
  }

  .heading-14 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .container-11 {
    padding-bottom: 60px;
    background-color: transparent;
  }

  .centered-container-4 {
    padding-top: 0px;
    text-align: left;
  }

  .project__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .project {
    height: auto;
    background-color: #192531;
  }

  .container-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .paragraph-15 {
    text-align: center;
    text-indent: 0px;
  }

  .about__title {
    padding-right: 10px;
    padding-left: 10px;
  }

  .image-18 {
    border-radius: 10px;
  }

  .about-hero {
    height: auto;
  }

  .service__outline {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.31);
  }

  .service__outline:hover {
    background-color: transparent;
  }

  .service__heading {
    margin-top: 0px;
  }

  .bold-text-6 {
    width: auto;
  }

  .paragraph-26 {
    margin-top: 34px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1.5px;
  }

  .heading-34 {
    text-align: center;
  }

  .image-19 {
    margin-right: auto;
    margin-left: auto;
  }

  .nav {
    text-align: left;
  }

  .nav__menubtn {
    position: static;
    right: 122px;
    display: inline-block;
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center;
  }

  .nav__container {
    text-align: center;
  }

  .service__ghost {
    margin-top: 2px;
    margin-right: auto;
    margin-left: auto;
  }

  .nav__brand {
    width: 100%;
  }

  .edit_container {
    text-align: left;
  }

  .pricing__card {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .special__heading {
    padding-right: 25px;
    padding-left: 25px;
  }

  .service__grid.writing {
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .service__btn {
    text-align: center;
  }

  .pricing__head {
    font-size: 38px;
  }

  .pricing__title {
    font-size: 30px;
  }

  .centered-container {
    text-align: left;
  }
}

#w-node-_4ee0e428-f51f-50d8-5dcb-c031a634fd0b-6567efb6 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_3a6c16ed-1c42-03d5-c4ed-04515be261c9-6567efb6 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-e9d22153-6129-2fd6-53ae-b6fd5f896c82-6567efb6 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-e5e667e8-9f5e-fb37-c3d5-95d81126eaed-6567efb6 {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
}

#w-node-_1ff58f1b-5658-4302-5a80-2205218d1584-6567efb6 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-eb1acb2f-8a77-2b5a-258f-c2cb8f7b1706-6567efb6 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_99bd4c9d-2e63-89fd-3d4f-740a80adbc0d-05138274 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: end;
  justify-self: end;
  -webkit-box-ordinal-group: -9998;
  -webkit-order: -9999;
  -ms-flex-order: -9999;
  order: -9999;
}

#w-node-e0081a59-0c55-a494-ac9f-1d903dace115-05138274 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-_61a0a3c8-3f79-a272-8a37-db14a7974028-05138274 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-_3bd42ac1-a220-50c5-999b-4c4ced008629-05138274 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_84e39078-f602-b391-1617-520c05990f06-05138274 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_3562d4bf-7870-08cc-a22e-18cf360582bd-05138274 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_67683370-3512-9efa-51ff-402a6c61bbae-05138274 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#w-node-_1e762cf4-10d6-6557-017c-bf61b581f0d8-f966d2f8 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_1e762cf4-10d6-6557-017c-bf61b581f0e5-f966d2f8 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_13535f3e-e471-1a52-eb43-3c2bd2bcd4c6-267575df {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_53d3bdb9-e02f-31bd-9486-bb0cdc57a3fa-267575df {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_48944e0d-e7d1-9aeb-6c7a-79f9a5581e16-267575df {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-f2e268b9-e599-ed7c-22d8-b88276f594a0-5bd94252 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_9cd976b9-a3e7-07ec-ec59-763a0acb31c8-5bd94252 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_9cd976b9-a3e7-07ec-ec59-763a0acb31c3-5bd94252 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_9cd976b9-a3e7-07ec-ec59-763a0acb31d0-5bd94252 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_3c435574-b433-1cee-6867-1fb297ea8b0f-a160d033 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_3c435574-b433-1cee-6867-1fb297ea8b14-a160d033 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_3c435574-b433-1cee-6867-1fb297ea8b1c-a160d033 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-bccb1aaa-42b1-1092-bb27-5f6fcb9d052f-191dba2c {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-bccb1aaa-42b1-1092-bb27-5f6fcb9d0534-191dba2c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-bccb1aaa-42b1-1092-bb27-5f6fcb9d0538-191dba2c {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-bccb1aaa-42b1-1092-bb27-5f6fcb9d053c-191dba2c {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-bccb1aaa-42b1-1092-bb27-5f6fcb9d0540-191dba2c {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
}

#w-node-_6bedfcc5-0b8f-466b-0e06-ddfca6a977fc-d2d1a7ca {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_1e2974f3-bdfe-0099-63d4-251078077485-d2d1a7ca {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_1f023c38-da63-3788-c0f3-a9cd458cca19-d2d1a7ca {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_32e513d1-b102-597b-9e6a-39a8f481113f-d2d1a7ca {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-_0043088a-c78b-7798-41f4-7dae4dcbe330-d2d1a7ca {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}